<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}

<form action="/fixing" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Account aanmaken</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 				<div class="control-group">
    <label for="achternaam"></label>
    <input type="text" placeholder="achternaam" name="achternaam" required>
				</div>
 
				<div class="control-group">
    <label for="adres"></label>
    <input type="text" placeholder="Straatnaam + nr" name="adres" required>
				</div>
 
 				<div class="control-group">
    <label for="aanhef"></label>
    <input type="text" placeholder="aanhef" name="aanhef" required>
				</div>
                <input type="submit" value="Registreer" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
			
			
			
		</div>
	</div>
</form>


{% endif %}
{% endblock %}
