<link rel="stylesheet" href="/static/lab_css.css" type="text/css">
<div class="css_lab">
	<input type="radio" id="stop"name="action" checked="checked" />
	<input type="radio" id="run" name="action" />
	<input type="radio" id="walk"name="action" />

	<input type="radio" id="type1" name="color" />
	<input type="radio" id="type2" name="color" />
	<input type="radio" id="type3" name="color"checked="checked" />

	<input type="radio" id="slow" name="speed" />
	<input type="radio" id="normal" name="speed" checked="checked" />
	<input type="radio" id="fast" name="speed" />

	<label class="run" for="run">RUN</label>
	<label class="walk" for="walk">WALK</label>

	<div class="woman">
		<label for="stop"></label>
		<label for="run"></label>
		<div class="head">
			<p></p><p></p><p></p>
			<p></p><p></p><p></p>
		</div>
		<div class="body">
			<p></p><p></p><p></p>
		</div>
		<div class="r_arm">
			<p></p><p><span></span></p>
		</div>
		<div class="l_arm">
			<p></p><p><span></span></p>
		</div>
		<div class="r_foot">
			<p></p><p><span><strong></strong><em></em></span></p>
		</div>
		<div class="l_foot">
			<p></p><p><span><strong></strong><em></em></span></p>
		</div>
	</div>

	<div class="road">
		<p></p><p></p><p></p>
		<ul>
			<li><label for="type1">1</label></li>
			<li><label for="type2">2</label></li>
			<li><label for="type3">3</label></li>
			<li class="speed">
				<label for="slow">1</label>
				<label for="normal">2</label>
				<label for="fast">3</label>
			</li>
		</ul>
	</div>
</div>
